// Variables de colores
$primary-color: #213B75;
$secondary-color: #5CBDE0;
$background-color: #F5F5F5;
$text-color: #213B75;
$light-color: #ffffff;

// Variables de tamaños
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;

// Variables de tipografía
$font-family: 'Roboto', sans-serif;
